extends layout

block content
  h1.text-center.display-2 KNOW YOUR FLOWER
  form(method="post", enctype="multipart/form-data")
    div.form-group.active
      div.custom-file
        input.custom-file-input(type="file" name="flower" aria-pressed="true" required)
        label.custom-file-label(for="flower-picture")
    div.form-group
      button.btn.btn-block.btn-lg.btn-primary(type="submit") SEE RESULTS

  div.row.pt-3
    if imgSrc
      div.col-md
        figure.figure.mx-auto.d-block
          img.figure-img.img-fluid.mx-auto.d-block.rounded.shadow-lg(src="data:image/png;base64, " + imgSrc alt="something wrong with the file uploaded")
          figcaption.figure-caption.text-center
            if err
              div
                p #{err}
            else
              div
                p #{label}

      if wikiURL
        div.col-md.d-flex.flex-column.justify-content-center
          dt.text-center #{label}
          dd.text-justify #{wikiExtract} <a href=#{wikiURL} target="blank"> [#{wikiURL}]</a>
